body {
	
	min-width:1900px;
	
	
}
#fejlec {
	
	background-color: black;
	
	margin-bottom:0px;
}
#logo {
	
	display: block;
	margin-left:40%;
    width: 20%;
	margin-bottom: 5%;
	background-color: black;
	
}

#hirlevelcim {
	
	color:white;
	padding-left: 37%;
	background-color: #333;
	padding-right:10%;
	
}
.hirlevel {
	
	margin-left:38%;

	
	width: 25%;
	height:25%;
	background-color:#333;
	padding-top:1%;
	
	
}
#newpsw {
	
	
 background-color: black;
    color: white;
	
    padding: 14px 20px;
	
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 50%;
	border-radius: 25px;
	margin-left: 115px;
}
button#newpsw:hover {
	opacity: 0.8;
}
#email {
	
	width:75%;
	border-radius: 25px;
	padding: 6px 10px;
	margin-left: 50px;
}