body {

	
	min-width: 1900px;
	max-width:1900px;
	
}
.fejlec {
	
	
	background-color: black;
	padding-bottom:0px;
}
#login-ul {
	list-style-type: none;
    margin: 0;
    overflow: hidden;
   width: 80%;
	padding-left: 25%;
}
.login-li {
	
	float: left;
	width : 13%;
	padding-right:0.3%;
	padding-top: 2.7%;
	margin:0%;
	
	
}
#search {
	margin: 0%;
	float:left;
	width:13%;
	padding-right:6.8%;
	padding-top:3%;
	padding-left:0%;
}

.content { 

padding-left : 15%;
padding-right : 15%;
padding-top: 0.1%;



}
#logo-li{
	
	float: left;
	width:13%;
	padding-right:0%;
	margin: 0%;
	padding-top: 0.28%;
	
}

#logo {
	
	width:100%;
	
}
	
ul.hmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.hmenuv {
    float: left;
}

 a.hmenut {
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.hmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.hmenuv {
    float: left;
}

li a.hmenut:hover {
    background-color: #111;
}
 a.hmenut {
	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#kereses {
	
	width: 150%;
	border-radius: 25px;
	height: 3%;
	
	
}
ul.vmenu {
    list-style-type: none;
    margin-top: 1%;
    padding: 0;
    width: 8.7%;
    background-color: #333;
	overflow: hidden;
}
a.vmenut {
	
	display: block;
	color: white;

    padding: 14px 16px;
    text-decoration: none;
}

li a.vmenut:hover {
	
	background-color: #111;
	
}
li.vmenuv {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

img.mySlides {

float: right;

}

.slideshow-container{

 float: right;
 padding-top: 1%;
 padding-left: 0%;
 
}








input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.loginbutton {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	border-radius: 25px;
}

button.loginbutton:hover {
    opacity: 0.8;
}
.cancelbtn {
	
	background-color: white;
	border-radius: 25px;
	border: none;
}
button.cancelbtn:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #333;
	color:white;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;

	height: 30%;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
  
   padding: 5.7% 10% 0% 25%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 2s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



.hirlevel {
	
	padding:1%;
	
	width:35%;
	background-color: #333;
	margin-bottom: 1%;
	margin:auto;
	
}
#hirlevelcim {
	margin: 0%;
text-align: center;	
border: 0%;
	color: white;
	
}

.contact {
	
	margin-top:0%;
	padding-top:5%;
	
}
#signup {
	 background-color: black;
    color: white;
	
    padding: 14px 20px;
	
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
	border-radius: 25px;
	margin-left: 115px;
}
button#signup:hover {
	opacity: 0.8;
}

